<style>
    .none2 {
        display: none !important;
    }

    @media screen and (max-width:982px) {
        .none {
            display: none !important;
        }

        .none2 {
            display: flex !important;
        }
    }
</style>
{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary px-3 mb-2 sticky-top " data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}"><svg width="50" height="50" viewBox="0 0 130 130" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <circle cx="65" cy="65" r="64" stroke="white" stroke-width="2" />
                <circle cx="71" cy="76" r="18.5" fill="#C87800" stroke="#FFB800" stroke-width="3" />
                <line x1="52.5" y1="25" x2="52.5" y2="99" stroke="white" stroke-width="3" />
                <path d="M37.0532 38.5424L52.0689 26.1302" stroke="white" stroke-width="3" />
            </svg>
        </a>
        <div class="d-flex gap-2 ">
            <div class="d-flex gap-2 none2">
                {% if user.is_authenticated %}
                <div class="dropdown">
                    <div class="text-light btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                        <img src="{{request.user.profile.profile_pic.url}} " class="rounded-circle object-fit-cover me-2"
                            width="35px" height="35px" alt="{{request.user.username}}" style="object-position: 0% 0%;">
                            {{user.username|capfirst}}
                    </div>
                    <ul class="dropdown-menu dropdown-menu-lg-end">
                        <li><a class="dropdown-item" href="#">Dashboard</a></li>
                        <li><a class="dropdown-item" href="{% url 'edit' %}">Edit Profile</a></li>
                        <li><a class="dropdown-item" href="#">My Blog</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </div>
                <button class="navbar-toggler border border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% else %}
                <a href="{% url 'login' %}" class="btn py-2 btn-outline-light">Login</a>
                <a href="{% url 'register' %}" class="btn px-3 py-2 btn-secondary">Registration</a>
                {% endif %}
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                </li>
            </ul>
            <div class="d-flex gap-2 none">
                {% if user.is_authenticated %}
                <div class="dropdown">
                    <div class="text-light btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="{{request.user.profile.profile_pic.url}} " class="rounded-circle object-fit-cover me-2"
                            width="35px" height="35px{{request.user.username}}" style="object-position: 0% 0%;" alt="">
                        {{user.username|capfirst}}
                    </div>
                    <ul class="dropdown-menu dropdown-menu-lg-end">
                        <li><a class="dropdown-item" href="#">Dashboard</a></li>
                        <li><a class="dropdown-item" href="{% url 'edit' %}">Edit Profile</a></li>
                        <li><a class="dropdown-item" href="#">My Blog</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </div>
                {% else %}
                <a href="{% url 'login' %}" class="btn py-2 btn-outline-light">Login</a>
                <a href="{% url 'register' %}" class="btn px-3 py-2 btn-secondary">Registration</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>