{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary px-3 mb-2 sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                </li>
            </ul>
            <div class="d-flex gap-2">
                {% if user.is_authenticated %}
                <div class="dropdown">
                    <div class="px-3 text-light py-2 dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="{% static 'image/profile.webp' %} " class="rounded-circle object-fit-cover me-2" width="40px" alt="">
                        {{user.username|capfirst}}
                    </div>
                    <ul class="dropdown-menu dropdown-menu-lg-end">
                        <li><a class="dropdown-item" href="#">Dashboard</a></li>
                        <li><a class="dropdown-item" href="#">Edit Profile</a></li>
                        <li><a class="dropdown-item" href="#">My Blog</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </div>
                {% else %}
                <button class="btn btn-outline-light">Login</button>
                <button class="btn px-3 btn-secondary">Sign</button>
                {% endif %}
            </div>
        </div>
    </div>
</nav>