{% extends 'dashboard/base.html' %}

{% block title %}All Categories{% endblock title %}


{% block content %}
<div class="w-100 d-flex align-items-center justify-content-between mb-2">
    <div class="w-25">
        <form method="get" class="d-flex gap-2 align-items-center">
            <select name="filter" id="filter" class="form-select">
                <option value="All">All</option>
                <option value="{{request.user.username}}">My Categories</option>
            </select>
            <button type="submit" class="btn btn-outline-secondary">Filter</button>
        </form>
    </div>
    <button class="btn btn-outline-secondary">Add Category</button>
</div>
{% for category in categories %}
<div class="alert alert-warning" role="alert">
    <div class="row">
        <div class="col-auto"><img src="{{category.user.profile.profile_pic.url}}"
                class="rounded-circle object-fit-cover" style="object-position: 0% 0%;" width="40px" height="40px"
                alt=""></div>
        <div class="col">
            <div class="w-100 d-flex">
                <div class="w-75">
                    <strong>{{category.name|capfirst}}</strong> <small>{{category.user.username|capfirst}}</small>
                </div>
                <div class="w-75">
                    <p>{{category.create_date|date:'Y/m/d H:i:s A'}} </p>
                </div>
            </div>
            <hr class="m-0">
            <div class="w-100 row">
                <div class="col-auto form-text">Edit</div>
                <div class="col-auto form-text">Preview</div>
                {% if request.user.id == 1 %}
                <div class="col-auto form-text "><a class="text-danger nav-link p-0 m-0"
                        href="{% url 'delete_cat' category.id %}">Delete</a></div>
                {% elif request.user.id == category.user.id %}
                <div class="col-auto form-text "><a class="text-danger nav-link p-0 m-0"
                        href="{% url 'delete_cat' category.id %}">Delete</a></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}