{% extends 'dashboard/base.html' %}

{% block title %}All Categories{% endblock title %}


{% block content %}
<div class="w-100 d-flex align-items-center justify-content-between mb-2">
    <div class="w-25">
        <form method="get" class="d-flex gap-2 align-items-center">
            <select name="filter" id="filter" class="form-select">
                <option value="All">All</option>
                {% for u in filter_user %}
                <option value="{{u}}">{{u|capfirst}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-outline-secondary">Filter</button>
        </form>
    </div>
    <a href="{% url 'add_category' %}" class="btn btn-outline-secondary">Add Category</a>
</div>
{% for category in categories %}
<div class="alert alert-warning" role="alert">
    <div class="row">
        <div class="col-auto"><img src="{{category.user.profile.profile_pic.url}}"
                class="rounded-circle object-fit-cover" style="object-position: 0% 0%;" width="40px" height="40px"
                alt=""></div>
        <div class="col">
            <div class="w-100 d-flex">
                <div class="w-75">
                    {% if category.blog_set.count > 0 %}
                    <a class="text-dark text-decoration-none"  href="{% url 'cat_set' category.id %}">(<small>{{category.blog_set.count}}</small>)</a> <strong>{{category.name|capfirst}}</strong> <small>{{category.user.username|capfirst}}</small>
                    {% else %}
                    <strong>{{category.name|capfirst}}</strong> <small>{{category.user.username|capfirst}}</small>
                    {% endif %}
                </div>
                <div class="w-75">
                    <p>{{category.create_date|date:'Y/m/d H:i:s A'}} </p>
                </div>
            </div>
            <hr class="m-0">
            <div class="w-100 row">
                <div class="col-auto form-text"><a class="nav-link" href="{% url 'edit_category' category.id  %}"> Edit</a></div>
                <div class="col-auto form-text">Preview</div>
                {% if request.user.id == 1 %}
                <div class="col-auto form-text "><a class="text-danger nav-link p-0 m-0"
                        href="{% url 'delete_cat' category.id %}">Delete</a></div>
                {% elif request.user.id == category.user.id %}
                <div class="col-auto form-text "><a class="text-danger nav-link p-0 m-0"
                        href="{% url 'delete_cat' category.id %}">Delete</a></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% empty %}
<div class="w-100 text-center">
    <h1 style="text-transform:capitalize;">
        {{select_user}}'s not have any Post🤷‍♀️🤷‍♀️
    </h1>
</div>
{% endfor %}
{% endblock content %}