{% extends 'dashboard/base.html' %}

{% block title %}All posts{% endblock title %}


{% block content %}

<h1>{{cat.name}}</h1>
{% for posts in post %}
<div class="alert alert-warning" role="alert">
    <div class="row">
        <div class="col-auto"><img src="{{posts.user.profile.profile_pic.url}}"
                class="rounded-circle object-fit-cover" style="object-position: 0% 0%;" width="40px" height="40px"
                alt=""></div>
        <div class="col">
            <div class="w-100 d-flex">
                <div class="w-75">
                    <strong>{{posts.title|capfirst}}</strong> 
                    <small> {{posts.user.username|capfirst}}</small>
                </div>
                <div class="w-75">
                    <p>{{posts.pub_date|date:'Y/m/d H:i:s A'}} </p>
                </div>
            </div>
            <hr class="m-0">
            <div class="w-100 row">
                <div class="col-auto form-text "><a class="text-dark" style="text-decoration: none;" href="{% url 'edit_post' posts.id %}">Edit</a></div>
                <div class="col-auto form-text">Preview</div>
                <div class="col-auto form-text text-danger"><a class="text-danger" style="text-decoration: none;" href="{% url 'delete_post' posts.id %}">Delete</a></div>
            </div>
        </div>
    </div>
</div>
{% endfor  %}
{% endblock content %}