{% extends 'base/base.html' %}

{% block title %}Register
{% endblock title %}
{% block content %}
<div class="container-sm mt-2">
    <div class="row">
        <div class="col-md-6 offset-md-3 border px-3 py-4 rounded">
            <form method="post">
                {% csrf_token %}
                <h1>Registration</h1>
                {{form.as_p}}
                <button type="submit" class="btn btn-primary">Register</button>
              </form>
        </div>
    </div>
</div>
{% endblock content %}
